<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
    * {
      font-family: Nunito;
    }
  </style>
</head>
<body>
<div id="app">
  <v-app>
    <v-content>
      <v-container>
        <v-layout
                align-center
                column
                fill-height
                my-6
        >
          <v-flex xs-4>
            <v-btn fab @click="showCreateDialog">
              <v-icon>
                mdi-plus
              </v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
        <v-layout
                row
                justify-center
        >
          <v-flex xs2>
            <v-text-field
                    Label="Filter by"
                    v-model="filter"
            ></v-text-field>
          </v-flex>
          <v-flex xs1>
            <v-select
                    :items="['name', 'email']"
                    v-model="filterBy"
            ></v-select>
          </v-flex>
        </v-layout>
        <v-layout
                align-center
                justify-center
                row
                fill-height
        >
          <v-card
                  class="mx-5"
                  v-for="(person, index) in filteredPersonsBy(filterBy)"
                  :key="person.id"
                  :width="300"
          >
            <v-list-item class="px-2 pt-2 justify-content" >
              <v-list-item-avatar
                      v-if="person.avatar"
                      class="ml-2 mr-1"
              >
                <v-img :src="person.avatar"></v-img>
              </v-list-item-avatar>
              <v-list-item-avatar
                      v-else
                      color="grey"
                      class="mx-2"
              >
                <span class="white--text headline">{{ person.name[0].toUpperCase() }}</span>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>{{ person.name }}</v-list-item-title>
                <v-list-item-title>{{ person.email }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-card-actions class="pt-0 justify-content">
              <v-btn icon @click="showEditDialog(index)">
                <v-icon>mdi-account-edit</v-icon>
              </v-btn>

              <v-btn icon @click="destroy(index)">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-layout>

        <v-dialog
          v-model="createDialogActive"
          max-width="450"
        >
          <v-card pa-4>
            <v-card-title>Create user</v-card-title>
            <v-card-text>
              <v-form
                      ref="form"
              >
                <v-text-field
                        v-model="person.name"
                        :counter="10"
                        label="Name"
                        required
                ></v-text-field>

                <v-text-field
                        v-model="person.email"
                        label="E-mail"
                        required
                ></v-text-field>

                <v-text-field
                        label="Avatar url"
                        v-model="person.avatar"
                ></v-text-field>
                <v-btn
                        color="success"
                        @click="create(person)"
                        :disabled="disabled"
                >
                  Save
                </v-btn>
              </v-form>
            </v-card-text>
          </v-card>
        </v-dialog>

        <v-dialog
                v-model="editDialogActive"
                max-width="450"
        >
          <v-card pa-4>
            <v-card-title>Edit user</v-card-title>
            <v-card-text>
              <v-form
                      ref="form"
              >
                <v-text-field
                        v-model="person.name"
                        :counter="10"
                        label="Name"
                        required
                ></v-text-field>

                <v-text-field
                        v-model="person.email"
                        label="E-mail"
                        required
                ></v-text-field>

                <v-text-field
                        label="Avatar url"
                        v-model="person.avatar"
                >

                </v-text-field>
                <v-btn
                        color="success"
                        @click="update(person)"
                        :disabled="disabled"
                >
                  Update
                </v-btn>
              </v-form>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-container>
    </v-content>
  </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="app.js"></script>
</body>
</html>